$enable-flex: true;
@import '~bootstrap/scss/bootstrap';
//@import 'compass/css3';

.app {
    padding-top: 60px;
}

.label {
    margin: 0 .1em;
}

.album img {
    height: 64px;
    width: 64px;
    margin-right: 15px;
}
